#content {
    font-family: "bbvaweb-medium";
    color: #026ead;
}

#concert_map {
	width: 90%;
}

#agency_pub {
	width: 90%;
}

.left-container {
    /*background: #D6CDE1;*/
    width: 50%;
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-container {
    /*background: #D6CDE1;*/
    width: 50%;
    height: 100%;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
}

.split-title-container {
	margin-left: 40px;
}

.split-title-container>.title-label {
	font-size: 25px;
 	padding: 15px 0px 15px 0px;
}

.map-caption{
	margin-bottom:15px;
}
.button-container.legal-info {
	width: 70%;
	height: 20px;
	display: inline-block;
	margin-left: 23%;
	border-radius: 15px;
	text-align: center;
	padding: 10px;
	margin-bottom: 15px;
}

.button-container.legal-info > .button-text {
    padding: 0px;
}


.small-action-button {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 5px;
	display: inline-block;
	color: white;
	background-color: #026ead;
}

.add-ticket {
	width: 104px;
	padding: 5px;
	height: 15px;
	border-radius: 5px;
	font-size: 10pt;
	display: inline-block;
	color: white;
	background-color: #026ead;
}

.small-action-button.left {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 5px 0px 0px 5px;
	display: inline-block;
	color: white;
	background-color: #026ead;
}

.small-action-button.right {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 0px 5px 5px 0px;
	display: inline-block;
	color: white;
	background-color: #026ead;
	margin-right: 5px;
}

.info-container {
    display: inline-block;
    margin-left: 11%;
    margin-bottom: 15px;
}

.map-container {
    display: inline-block;
    margin-left: 11%;
}

.event-info-label {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
	margin-bottom: 5px;
}

.event-info-text {
	display: inline-block;
	width: 70%;
}

.select-style2 {
 	border:1px solid #777;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    background: white;
	float:left;
	margin-right: 5px; 
}

.select-style2 select {  
	font-size:15px;
	color:#777;
    padding: 5px 8px 0px 5px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	  
}

.select-style2 select:focus {
    outline: none;  
}	

.select-style2 select option {
	padding:3px;

}

.zone-select-container {
    display: inline-block;
    margin-left: 11%;
    margin-bottom: 15px;	
}

.zones-container-title {
    display: inline-block;
    margin-left: 11%;
    margin-bottom: 15px;
}

.zones-container{
    display: inline-block;
    margin-left: 11%;
    margin-bottom: 15px;	
    border: 1px;
    border-style: solid;
    border-radius:5px;
    padding: 15px;
    min-width: 286px;
}

.zone-count {
	height: 19px;
	vertical-align: top;
	display: inline-block;
	width: 30px;	
	text-align: center;
}

.zone-container>.zone-name{
	display: inline-block;
	width: 170px;
	margin-bottom:10px;
}

.total-container{
    display: inline-block;
    margin-left: 11%;
    width: 60%;
    margin-bottom: 15px;	
}

.total-label{
	float: left;
}

.total-value{
	float: right;
}

.bottom-buttons-container {
	position: absolute;
	top: 87%;
	width: 97%;
}

.button-container.bottom-button.absolute-right {
	float: right;
	width: 65px;
	height: 25px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

.button-container.bottom-button.absolute-left {
	float: left;
	width: 65px;
	border-radius: 5px;
	height: 25px;
	padding: 5px;
	text-align: center;
}

.title-label.small {
	font-size: 30	px;
}

.date-container{
	margin-left: 10%;
	margin-bottom: 15px;
    width: 85%;
	margin-top: 15px;
}

.date-header>div{
	display: inline-block;
	width: 48.9%;
	color: white;
	background-color: #026ead;
	border-radius: 5px 5px 0px 0px;
	color: white;
	border-color: #D6DEE1;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    text-align: center;
}

.out-date-picker>img,.in-date-picker>img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.date-body {
	padding: 15px;
	border-style: solid;
    border-width: 1px;
}

.out-date-container	 {
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
	
.out-date-container>div, .in-date-container>div{
	display: inline-block;
}

.out-date-label,.in-date-label{
	width:50%;
}

.schedule-container{
	margin-left: 11%;
	margin-bottom: 15px;
	width: 80%;
}

.bus-class-container {
	margin-left: 11%;
	margin-bottom: 15px;
	width: 60%;
}

.bus-class-label{
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.schedule-container>.button-container {
	width: 150px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
}

.schedule-label{
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.time-select-container>.select-style2{
	width: 100px;	
	display: inline-block;
}

.schedule-container>.button-container>a {
	font-size: 15px;
	display:inline-blocK;
	padding: 0px;
}

.bus-container {
	width:100%;
}

.sector-label{
	float: left;
	margin-right: 10px;
}

.way-header.no-way{
	background-color: grey;
}

#bus_table{
	width: 600px;
}
#bus_table, #bus_table>tr>td.bordered {
	margin: 0 auto;
	border-style: solid;
	border: 1px solid black;
	border-radius: 5px;
}

#bus_table>tr>td.disabled {
	background-image: url("../images/disabled.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#bus_table>tr>td {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 5px;	
}

#bus_table>tr>td.selected {
	width: 20px;
	height: 20px;
	background-color: green;
}

#dialog{
	background-color:#D6DEE1;
	color: 
}

#selected_seats {
	margin-top: 15px;
}

#bus_legend {	
	display: inline-block;
	float: right;
	margin-right: -100px;
	margin-top: -16%;
}

#bus_legend>div {	
	width: 100%;
	display: inline-block;
}

#bus_legend>div>img {	
	width: 15px;
	display: inline-block;
}

#legend_selected{
	color: green;
}
