#content {
    font-family: "bbvaweb-medium";
    color: #026ead;
}

#concert_map {
	width: 90%;
}

#agency_pub {
	width: 90%;
}

.left-container {
    /*background: #D6CDE1;*/
    width: 50%;
    float: left;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-container {
    /*background: #D6CDE1;*/
    width: 50%;
    height: 600px;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
}
.title-container {
	max-width:80%;
}

.title-container>.title-label {
 	padding: 15px 0px 15px 0px;
}

.map-caption{
	margin-bottom:15px;
}
.button-container.legal-info {
	width: 70%;
	height: 20px;
	display: inline-block;
	margin-left: 23%;
	border-radius: 15px;
	text-align: center;
	padding: 10px;
	margin-bottom: 15px;
}

.button-container.legal-info > .button-text {
    padding: 0px;
}


.small-action-button {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 5px;
	display: inline-block;
	color: white;
	background-color: #026ead;
}

.small-action-button.left {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 5px 0px 0px 5px;
	display: inline-block;
	color: white;
	background-color: #026ead;
}

.small-action-button.right {
	width: 15px;
	padding: 5px;
	height: 15px;
	border-radius: 0px 5px 5px 0px;
	display: inline-block;
	color: white;
	background-color: #026ead;
	margin-right: 5px;
}

.info-container {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 15px;
}

.map-container {
    display: inline-block;
    margin-left: 20%;
}

.event-info-label {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
	margin-bottom: 5px;
}

.event-info-text {
	display: inline-block;
	width: 70%;
}

.select-style2 {
 	border:1px solid #777;
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    background: white;
	float:left;
	margin-right: 15px; 
}

.select-style2 select {  
	font-size:15px;
	color:#777;
    padding: 5px 8px 0px 5px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	  
}

.select-style2 select:focus {
    outline: none;  
}	

.select-style2 select option {
	padding:3px;

}

.zone-select-container {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 15px;	
}

.zones-container-title {
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 15px;
}

.zones-container{
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 15px;	
    border: 1px;
    border-style: solid;
    border-radius:5px;
    padding: 15px;
    min-width: 394px;
}

.zone-count {
	height: 19px;
	vertical-align: top;
	display: inline-block;
	width: 50px;	
	text-align: center;
}

.zone-container>.zone-name{
	display: inline-block;
	margin-right: 10px;
	width: 250px;
	margin-bottom:10px;
}

.total-container{
    display: inline-block;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 15px;	
}

.total-label{
	float: left;
}

.total-value{
	float: right;
}

.bottom-buttons-container {
	position: absolute;
	bottom: 10%;
	width: 80%;
	margin-left: 10%;
}
.button-container.bottom-button.absolute-right {
	float: right;	
}

.button-container.bottom-button.absolute-left {
	float: left;
}

.title-label.small {
	font-size: 30	px;
}

.date-container{
	margin-left: 20%;
	margin-bottom: 15px;
	width: 60%;
	margin-top: 15px;
}

.date-header>div{
	display: inline-block;
	width: 49.7%;
	color: white;
	background-color: #026ead;
	border-radius: 5px 5px 0px 0px;
	color: white;
	border-color: #D6DEE1;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    text-align: center;
}

.out-date-picker>img,.in-date-picker>img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.date-body {
	padding: 15px;
	border-style: solid;
    border-width: 1px;
}

.out-date-container	 {
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
	
.out-date-container>div, .in-date-container>div{
	display: inline-block;
}

.out-date-label,.in-date-label{
	width:50%;
}

.schedule-container{
	margin-left: 20%;
	margin-bottom: 15px;
	width: 60%;
}

.schedule-container>.button-container {
	width: 150px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
}
.schedule-label{
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.time-select-container>.select-style2{
	width: 100px;	
	display: inline-block;
}

.schedule-container>.button-container>a {
	font-size: 15px;
	display:inline-blocK;
	padding: 0px;
}