body {
    background-color: #D6DEE1;
}

.button-container {
	background-color: #026ead;
	padding: 10px 10px 10px 10px;
	margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;	
    display: block;
    width: 400px;
}

.button-container.empty {
	background-color: #D6DEE1;	
}

.left-buttons-container {
	display: inline-block;
}

.right-buttons-container {
	display: inline-block;
	float: right;
}

.right-buttons-container>.button-container>.button-image {
	float: right;
}
	
.right-buttons-container>.button-container>.button-text {
	float: right;
}

.bottom-buttons-container>.button-container>.button-image {
	width: 30px;
	height: 30px;
}
	
.bottom-buttons-container>.button-container>.button-text {
	padding: 5px 5px 5px 5px;
	width: 380px;
}

.button-text {
	color: white;
	display: inline-block;
	float: left;
	height: 20px;
	width: 300px;
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	font-size: 20px;
}

.button-image {
	float: left;
	width: 50px;
	height: 50px;
}

.bottom-button {
	height: 30px;
}	

.title-container {
	display: inline-block;
	width: 100%;
	padding: 0px 15px 0px 15px;
}

.title-header {
	color: #026ead;
	display: inline-block;
}

.title-image-container {
	display: inline-block;
}

.title-image {
	width: 50px;
	height: 50px;
}
