body {
    background-color: #D6DEE1;
}

@font-face {
	font-family: "bbvaweb-book";
	src: url("fonts/bbvaweb-book.woff") format('woff');
}

@font-face {
	font-family: "bbvaweb-light";
	src: url("fonts/bbvaweb-light.woff") format('woff');
}

@font-face {
	font-family: "bbvaweb-medium";
	src: url("fonts/bbvaweb-medium.woff") format('woff');
}

.title-container {
	font-size: 20px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 20%;
	width: 100%;
}

.button-container {
	background-color: #026ead;
	padding: 10px 10px 10px 10px;
}

.bottom-buttons-container.empty {
	height: 100px;
}

.top-buttons-container, .bottom-buttons-container {
	display: table;
	/*border-spacing: 15px;*/
	border-collapse: separate;
	margin: 0 auto;
	/*width: 750px;*/
}

.main-menu-option {
	background-color: #026ead;
	height: 175px;
    width: 130px;
    display: table-cell;
    border-radius: 7.5px;
    padding: 10px;
    text-align: center;
}

.main-menu-option.concert-menu-option {
	height: 135px;
}

.main-menu-option.empty {
	background-color: #D6DEE1;
}

.main-menu-option>.button-image, .main-menu-option>.concert-image {
	display: inline-block;
	margin-top: 15px;
}

.main-menu-option>.button-text{
	display: block;
	text-align: center;
}

.button-container.empty {
	background-color: #D6DEE1;
}

.bottom-buttons-container>.button-container>.button-image {
	width: 30px;
	height: 30px;
}

.bottom-buttons-container>.button-container>.button-text {
	padding: 5px 5px 5px 5px;
}

.button-text {
	color: white;
	/*height: 20px;*/
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	font-family: "bbvaweb-medium";
}

.button-image {
	width: 50px;
	height: 50px;
}

.concert-image {
	width: 50px;
	height: 50px;
}

.button-container.list-bottom-button {
	width: 150px;
	display: inline-block;
	border-radius: 15px;
}

.button-container.bottom-button {
	height: 30px;
	width: 150px;
	border-radius: 15px;
	display: inline-block;
}

.button-container.list-button {
	height: 30px;
	width: 100%;
	border-radius: 15px;
	display: inline-block;
}

.title-label {
	font-size: 20px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 15px;
}

.desc-label {
	font-size: 15px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 15px;
}

.subtitle-label {
	font-size: 25px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 15px;
}

.title-image-container {
	display: inline-block;
	float: left;
}

.title-image {
	width: 50px;
	height: 50px;
}

.search-tool-container {
    height: 30px;
    margin-top: 20px;
    display: inline-block;
    float: right;
    background-color: #026ead;
    border-radius: 5px 0px 0px 0px;
}

/* Begin Materialize CSS */

/*.btn {
	right: 15px;
}*/

.btn:hover {
	background-color: #40b2da;
}

.btn:focus {
	background-color: #026ead;
}

.row {
	margin-bottom: 0px; /*  prevents offset */
}

.main-menu-option .button-text {
	padding: 5px;
	margin: 0px;
	width: 140px;
	height: 90px;
	line-height: 25px;
	text-transform: none;
}

.empty>.main-menu-option{
    width: 130px;
    display: block;
    height: 0px;
    border-radius: 7.5px;
    padding: 0px;
    text-align: center;
}

#transferencias .bottom-buttons-container .button-text {
	height: auto;
}

.details-table td {
	padding: 0px 5px;
	text-align: left;
    vertical-align: middle;
}

/* End Materialize CSS */

#depositos .title-container {
	padding-left: 5%;
	margin-top: 2%
}

#depositos .bottom-buttons-container .button-text {
	height: auto;
}

#depositos .bottom-buttons-container .main-menu-option {
	height: auto;
}

#depositos .s6 .main-menu-option {
	width: 800px;
	height: 300px;
}

#depositos p {
	width: auto;
}

#depositos .top-buttons-container p {
	font-size: 35px;
	line-height: initial;
}

#depositos h1 {
	color: #026ead;
	font-size: 40px;
	margin: 0px;
	padding: 0px;
}

#depositos .title {
	text-align: center;
}

#depositos .row:after {
	content: none; /*avoid extra space*/
}

#depositos .s8 .button-image {
	width: 200px;
	height: 200px;
	margin: 5px;
}

#depositos .btn {
	right: 0px;
}

#depositos .card-content {
	margin-top: 35px;
	width: 600px;
}

#depositos .card-content p {
	font-size: 20px;
}

#depositos .alignright {
	float: right;
}

#depositos .s10 .main-menu-option {
	height: auto;
	width: auto;
}

#depositos .s10 p {
	font-size: 20px;
	text-align: left;
}

#depositos .confirmacion {
	text-align: center;
	color: #026ead;
	font-family: "bbvaweb-medium";
}

#depositos .cuenta {
	margin-bottom: -30px;
}

#depositos .cuenta p {
	padding: 0px 20px;
}

#depositos .cuenta a:focus {
	/*background-color: #029af2;*/
	background-color: #26aefd;
}

#depositos .sale-detail-container {
	line-height: 0.5;
	width: 600px;
}

/* Select */

#pagos .bottom-buttons-container .button-text {
	height: auto;
}

#pagos .bottom-buttons-container .main-menu-option {
	height: auto;
}

.select-dropdown{
  display: inherit !important;
  overflow-y: scroll;
}

.option{
  color: #026ead;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px;
  text-decoration: none;
	font-size: 20px;
	font-family: "bbvaweb-medium";
}

.input-column{
  color: #026ead;
  font-size: 15px !important;
  padding: 15px !important;
  margin-bottom: 0px !important;
  text-decoration: none;
	font-family: "bbvaweb-medium";
  display: table-cell;
}

/* Cambios Julio */

body {
	background-color: black;
}

.container {
	background-color: #D6DEE1;
	height: 500px;
	width: 750px;
	margin: 0 auto;
	transform: translateY(12.5%)
}

.row {
	margin: 0 auto !important;
	border-spacing: 2px;
}

.col {
	padding: 0 0.5rem !important;
}

#depositos .s6 .button-image {
	width: 150px;
	height: 150px;
}

#depositos h1 {
	font-size: 1.8em;
	margin-bottom: 15px;
	/*vertical-align: middle;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

/*#depositos .main-menu-option {
	width: 300px;
	height: 200px;
}*/



.bottom-buttons-container {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 10px;
}

.index .bottom-buttons-container {
	position: static;
	bottom: auto;
	margin-left: 17px !important;
	margin-right: 17px !important;
	width: auto !important;
}

.button-container.bottom-button {
	height: auto;
}

.scroll-container {
	width: 90%;
	height: 270px;
	margin: 0 auto;
	overflow-y: scroll;
}

.scroll-container .row {
	width: 90%;
}

.scroll-container .row .col {
	width: 90%;
}

.scroll-container .row .col .btn {
	width: 500px !important;
}

.scroll-container .row .col .btn p {
	margin: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



 /* label color */
   #depositos .input-field label {
     color: #026ead;
   }
   /* label focus color */
   #depositos .input-field input[type=text]:focus + label {
     color: #26aefd;
   }
   /* label underline focus color */
   #depositos .input-field input[type=text]:focus {
     border-bottom: 1px solid #026ead;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   #depositos .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   #depositos .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   #depositos .input-field .prefix.active {
     color: #000;
   }


	.keypad-number {
		height: auto !important;
		width: auto !important;
		padding: 5px 10px;
	}

	.keypad-number .button-text {
		height: auto !important;
		width: auto !important;
		padding: 0;
	}
