body {
    background-color: #D6DEE1;
}

.content {
}

.title-container {
	font-size: 20px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 15px;
}

.button-container {
	background-color: #026ead;
	padding: 10px 10px 10px 10px;
	margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;	
    width: 150px;
    display: inline-block;
}

.top-buttons-container, .bottom-buttons-container {
	display: table;
	border-spacing: 15px;
    border-collapse: separate;
    margin: 0 auto;
    width: 750px;
}

.top-buttons-container {
    margin-top: 100px;
}

.main-menu-option {
	background-color: #026ead;
	height: 175px;	
    width: 130px;
    display: table-cell;
    border-radius: 7.5px;	
    padding: 10px;
    text-align: center;
}
	
.main-menu-option.empty {
	background-color: #D6DEE1;
}
	
.main-menu-option>.button-image, .main-menu-option>.concert-image {
	display: inline-block;
	margin-top: 15px;
}

.main-menu-option>.button-text{
	display: block;
	text-align: center;
}

.button-container.empty {
	background-color: #D6DEE1;	
}

.left-buttons-container {
	display: table;
	table-layout: fixed;
	width:90%;
    height:100px;
}

.right-buttons-container {
	display: inline-block;
}

.right-buttons-container>.button-container>.button-image {
	float: right;
}
	
.right-buttons-container>.button-container>.button-text {
	float: right;
}

.bottom-buttons-container>.button-container>.button-image {
	width: 30px;
	height: 30px;
}
	
.bottom-buttons-container>.button-container>.button-text {
	padding: 5px 5px 5px 5px;
}

.button-text {
	color: white;
	height: 20px;
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	font-family: "bbvaweb-medium";
}

.button-image {
	width: 50px;
	height: 50px;
}

.concert-image {
	width: 100px;
	height: 100px;
}
.bottom-button {
	height: 30px;
}	

.title-container {
	display: inline-block;
	width: 100%;
	padding: 0px 15px 0px 15px;
}

.title-label {
	font-size: 35px;
	font-family: "bbvaweb-medium";
	color: #026ead;
	display: inline-block;
	float: left;
	padding: 10px 15px 10px 15px;
}

.title-image-container {
	display: inline-block;
	float: left;
}

.title-image {
	width: 50px;
	height: 50px;
}

	font-family: "bbvaweb-book";
	src: url("fonts/bbvaweb-book.woff") format('woff');
}


@font-face {
	font-family: "bbvaweb-light";
	src: url("fonts/bbvaweb-light.woff") format('woff');
}

@font-face {
	font-family: "bbvaweb-medium";
	src: url("fonts/bbvaweb-medium.woff") format('woff');
}

@font-face {@font-face {
	font-family: "bbvaweb-light";
	src: url("fonts/bbvaweb-light.woff") format('woff');
}

@font-face {
	font-family: "bbvaweb-medium";
	src: url("fonts/bbvaweb-medium.woff") format('woff');
}

@font-face {
	font-family: "bbvaweb-book";
	src: url("fonts/bbvaweb-book.woff") format('woff');
}

